body{
    width: 425px;
    height: 925px;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.burger{
    float:right;
    margin-top:7%;
    margin-right:2%;
}
#myForm{
    display: none;
    height: 70%;
    width: 25%;
    background-color: white;
    position: absolute;
    right:0;
    top:0;
    box-shadow: grey -20px 20px 20px 1px; 
    z-index: 1;
}
#reject{
    position: absolute;
    top:5%; 
    left: 65%;
}

.home{
    position: absolute;
    color:#876D56;
    font-family: poppins-regular;
    font-size:40pt;
    top:20%;
    margin-left: 11%;
}
.profile{
    position: absolute;
    color:#876D56;
    font-family: poppins-regular;
    font-size:40pt;
    top:27%;
    margin-left: 11%;
}

.designs{
    position: absolute;
    color:#876D56;
    font-family: poppins-regular;
    font-size:40pt;
    top:34%;
    margin-left: 11%;
}

.orders{
    position: absolute;
    color:#876D56;
    font-family: poppins-regular;
    font-size:40pt;
    top:41%;
    margin-left: 11%;
}
.bro{
    color: #876D56;
    font-family:introscriptdemo-medium;
    text-align: center;
    font-size: 110px;
    margin-top: 12%;
    position: absolute;
    margin-left: 32%;  
}
.img{
    position: absolute;
    margin-left: 21%;
    margin-top: 36%;
    display: none;
}
.left{
    position: absolute;
    width: 15%;
    margin-top: 57%;
    margin-left: 6%;
    transform: rotate(180deg);
}
.right{
    position: absolute;
    width: 15%;
    margin-left: 78%;
    margin-top: 57%;
}
.form{
    border:none;
    font-family: poppins-regular;
    position: absolute;
    font-size: 47pt;
    top: 1000px;
    margin-left: 2%;
}
.user{
    border:none;
    width: 900px;
    border-radius: 25px;
    box-shadow: 1px 5px 20pt 5pt #d3d3d3;
    height: 130px;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1; 
    font-family: poppins-light;
    font-size: 30pt;
  }
  input[type='text'] { font-size: 30pt;  font-family: poppins-light;}
  input[type='password'] { font-size: 30pt;  font-family: poppins-light;}
  input[type='tel'] { font-size: 30pt;  font-family: poppins-light;}

  .submit{
    border: none;
    background-color: #BCD5D1;
    color: white;
    font-family:poppins-regular;
    width: 350px;
    height: 100px;
    font-size: 40pt;
    border-radius: 25px;
    margin-left: 35%;
    margin-bottom: 300px;  
  }